html {
    padding:0;
}

body {
    margin:0;
}

topbar {
    display: block;
    background: #eee;
    padding: 7px;
}

rev-chart {
    display:block;
    width:80%;
    height:300px;
    position: relative;
    border: 1px solid black;
    padding:10px;
    margin-top:30px;
    margin-left:10px;
}

rev-chart div {
    display:block;
    width:1px;
    top:10px;
    position:absolute;
    background-color: blue;
    bottom:10px;
}

path {
    stroke: steelblue;
    stroke-width: 2;
    fill: none;
}

.axis path,
.axis line {
    fill: none;
    stroke: grey;
    stroke-width: 1;
    shape-rendering: crispEdges;
}