html {
    padding:0;
}

body {
    margin:0;
}

topbar {
    display: block;
    background: #eee;
    padding: 7px;
}

rev-chart {
    display:block;
    width:100%;
    height:300px;
}

rev-chart div {
    display:block;
    width:1px;
    height:300px;
    position:absolute;
    background-color: blue;
    bottom:0;
}